# Ignorer les fichiers temporaires et les liens symboliques
*.db
*.files
*.db.tar.gz
*.files.tar.gz
*.sig

# Garder les fichiers nécessaires pour le dépôt
!x86_64/*.db
!x86_64/*.files
!x86_64/*.db.tar.xz
!x86_64/*.files.tar.xz
!x86_64/*.pkg.tar.zst
!x86_64/*.pkg.tar.xz
!x86_64/*.pkg.tar.gz
